<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="tone">FREQUENCY</label>
                    <input id="tone" type="number" class="form-control" ng-model="vm.frequency" ng-change="vm.updateFrequency();" />
                </div>
                <div class="form-group">
                    <label for="tone">KEY REFERENCE</label>
                    <input id="tone" type="number" class="form-control" ng-model="vm.keyReference" ng-change="vm.updateFrequency();" />
                </div>
                <div class="form-group">
                    <label for="tone">TONE SCALE</label>
                    <input id="tone" type="number" class="form-control" ng-model="vm.toneScale" ng-change="vm.updateFrequency();" />
                </div>
                <div class="form-group">
                    <label for="tone">NOTE NUMBER</label>
                    <input id="tone" type="number" class="form-control" ng-model="vm.notePosition" ng-change="vm.updateFrequency();" />
                </div>
                {{vm.osc.frequency.value | number: 3 }}Hz
            </form>
            <button class="btn btn-default" ng-click="vm.start()">START</button>
            <button class="btn btn-danger" ng-click="vm.stop()">STOP</button>
        </div>
       <pre class="col-sm-6">{{vm.map | json}}</pre>
    </div>
</div>